<%= form_for [@city, @restaurant], html: { multipart: true } do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :street_number %>
        <%= f.text_field :street_number, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :street %>
        <%= f.text_field :street, class: "form-control" %>
    </div> 
    <%= f.submit class: "btn btn-primary"%>
<% end %>