<%= form_for [@city, @restaurant], html: { multipart: true } do |f| %>
<%= render 'layouts/error_messages', target: @restaurant %>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
    </div> 
    <div class="form-group">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
        <!-- , {selected: @restaurant.category_id}, {multipart: true} -->
    </div>
    <div class="form-group">
        <%= f.fields_for :categories, @restaurant.categories.build do |category_field| %>
            Name: <%= category_field.text_field :name %>
        <% end %>
    </div> 
    <%= f.submit class: "btn btn-primary"%>
<% end %>