<%= form_for [@city, @restaurant], html: { multipart: true } do |f| %>
<%= render 'layouts/error_messages', target: @restaurant %>
    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :address1 %>
        <%= f.text_field :address1, class: "form-control" %>
    </div> 
    <div class="form-group">
        <%= f.label :address2 %>
        <%= f.text_field :address2, class: "form-control" %>
    </div> 
    <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
    </div> 
    <div class="form-group">
        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control" %>
    </div> 
    <div class="form-group">
        <%= f.label :category %>    
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
        <!-- , {selected: @restaurant.category_id}, {multipart: true} -->
    </div>
    <div class="form-group">
        <%= f.fields_for :categories, @categories do |category_field| %>
            <div class="form-group">
                <%= category_field.label "New Category" %>
                <%= category_field.text_field :name %>
            </div>
        <% end %>
    </div> 
    <%= f.submit class: "btn btn-primary"%>
<% end %>