<div class="container-fluid">
    <%= image_tag @restaurant.image.url(:large) %>
    <h1 class="display-4"> <%= @restaurant.name %>, <%= @restaurant.street_number %> <%= @restaurant.street %></h1>
    <div class="btn-group">
        <button><%= link_to "Back", city_path(@city) %></button>
        <button><%= link_to "Edit", edit_city_restaurant_path(@city, @restaurant) %></button>
    </div>
</div>