<div class="card restaurant-card">
    <%= image_tag restaurant.image.url(:medium), class: "card-img-top" %>
    <div class="card-body">
        <h5 class="card-title"><%= link_to restaurant.name, city_restaurant_path(city, restaurant) %></h5>
        <p class="card-text"><%= restaurant.address1 %></p>
        <p class="card-text"><%= restaurant.address2 %></p>
        <p class="card-text"><%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zipcode %></p>
        <p class="card-text"><small class="text-muted">
            <% restaurant.categories.each do |category| %>
                <%= category.name %>
            <% end %>
        </small></p>
    </div>
</div>