<div class="container mx-auto text-center">
    <%=image_tag @city.image.url(:large), class: "show-image image-fluid" %>
    <div class="container">
        <h1 class="display-4"> <%= @city.name %>, <%= @city.state %> </h1>
        <div class="btn-group">
            <button><%= link_to "Back", root_path %></button>
            <button><%= link_to "Edit", edit_city_path(@city) %></button>
            <button><%= link_to "New Restaurant", new_city_restaurant_path(@city) %></button>
        </div>
    </div> 
</div>

<div class="container py-3">
    <div class="card-deck">
        <% @city.restaurants.each do |restaurant| %>
            <%= render 'restaurant_card', restaurant: restaurant, city: @city %>
        <% end %>
    </div>
</div>