<div class="container">
    <div class="card text-center my-2">
    <%=image_tag @city.image.url(:large), class: "show-image rounded" %>
        <div class="card-header display-4">
            <%= @city.name %>, <%= @city.state %>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to "Newest", city_restaurants_path(@city, @restaurant, button: "newest"), class: "dropdown-item"%>
                    <%= link_to "Oldest", city_restaurants_path(@city, @restaurant, button: "oldest"), class: "dropdown-item"%>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>            
        </div>
        <div class="card-body">
            <div class="row">
                <% if @city.restaurants.empty?  %>
                    <h3 class="text-center">There are no restaurants saved to this city yet! </h3>
                <% else %>
                    <% @city.restaurants.each do |restaurant| %>
                        <div class="col-md-4 py-2">
                            <%= render 'restaurant_card', restaurant: restaurant, city: @city %>
                            </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="card-footer">
            <%= link_to "Back", root_path, class: "btn btn-secondary" %>
            <%= link_to "Edit", edit_city_path(@city), class: "btn btn-secondary" %>
            <%= link_to "New Restaurant", new_city_restaurant_path(@city), class: "btn btn-secondary" %>
        </div>
    </div>
</div>